$shadow-1: 1px 1px 10px rgba(0, 0, 0, 0.25);
$background: radial-gradient(ellipse at top left,
    rgba(255, 255, 255, 1) 20%,
    rgb(232, 232, 232) 100%);

$color-main-1: #2674a1;
$color-main-1-2: #68a6ca;
$color-main-2: #D9D2CC;

$color-text: #3c3c3c;
$color-text-hover: #ffffff;

$color-btn: #41b883;
$color-btn-text: #41b883;
$color-btn-text-hover: #ffffff;

$color-vue-1: #41b883;

$color-name: #6a6a6a;
$color-value: #35495e;

$color-white: #ffffff;
$color-grey: #5c5c5c;